# Binary Folders #
build/
bin/
out/

# Eclipse Project Files #
.project
.classpath
.settings/
.externalToolBuilders/

#Intellij Project Files #
.idea/
*.iml

# Binary Files #
*.class

# Package Files #
*.jar
*.war
*.ear
